body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(210, 171, 98);
	}

	.availableArea {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 1rem;
		gap: .3rem;
		height: 1.7rem;

		.availableName {
			background-color: rgb(29, 81, 29);
			padding: .3rem;
			color: #999;
		}
	}

	.currentArea {
		display: flex;
		gap: .7rem;
		height: 1.7rem;

		.currentName {
			background-color: rgb(246, 169, 26);
			padding: .3rem;
			color: #222;
			box-shadow: 0 0 15px #111;
		}

		button {
			font-size: 1rem;
		}
	}

	.selectedArea {
		display: flex;
		justify-content: flex-start;
		margin-top: 1rem;
		gap: .3rem;
		height: 1.7rem;

		.selectedName {
			background-color: navy;
			padding: .3rem;
			color: #999;
		}
	}
}